<div class = "row">
<table class= "col-md-12">
<tr>
	<th>Subject Code</th>
	<th>Subject Name</th>
	<th>Past year papers</th>
	<th>Download all</th>
</tr>
<% @subject_hash.each do |subject_code, name_and_id| %>
	<tr>
	<td><%= subject_code %></td>
	<td><%= name_and_id[:name] %></td>
	<td>
	<% name_and_id[:ids].each do |id| %>
			<%= link_to id, "/#{id}", data: {turbolinks: false}%> |
	<% end %>
	(<%= name_and_id[:ids].count %> papers found.)
	</td>
	<td>
	<% query = [subject_code].to_query("subject") %>
	<%= link_to "Download all", "/download?#{query}&session=#{@user.session}", data: {turbolinks: false}  %></td>
	</tr>
<% end %>


</table>
<div class = "col-md-offset-10 col-md-2">
	<% all_subject_hash = {} %>
	<% all_subject_hash[:subject] = [] %>
	<% @subject_hash.each do |subject_code, name_and_id| %>
		<% all_subject_hash[:subject] <<  subject_code %>
	<% end %>
	<% query = all_subject_hash.to_query %>
	<%= link_to "Download everything", "/download?#{query}&session=#{@user.session}", data: {turbolinks: false}  %>
</div>
</div>